### notes ###
notes.txt

### environment ###
/math_venv

### VisualStudioCode ###
/.vscode

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

### jupyter files
test.ipynb
